	.btn-googleplus, .mestyle{
	  background: #E93F2E;
	  border-radius: 0px;
	  color: #fff;
	  border-width: 1px;
	  border-style: solid;
	  /* border-color: #b72	213; */
		font-size: 1.2em;
		height: 50px;
		padding-top: 8px;
	}
	.mestyle, .btn-googleplus:link, .btn-googleplus:visited {
	  color: #fff;
	}
	.mestyle, .btn-googleplus:active, .btn-googleplus:hover {
	  background: #b72213;
	  color: #fff;
	}
